<h2>Bucket Objects</h2>

<table>

    <thead>
        <tr>
            <td>Name</td>
            <td>Processed?</td>
            <td>Transcripted?</td>
            <td>Trigger Analysis</td>
        </tr>
    </thead>

    <tbody>
        {{#each item}}
        <tr>
            <td>{{this.Key}}</td>
            <td>{{this.exists}}</td>
            <td>{{this.transcribed}}</td>
            <td><a href="#">Analyse</a></td>
        </tr>
        {{/each}}
    </tbody>

</table>