<h2>Bucket Objects</h2>

<table>

    <thead>
        <tr>
            <td>Name</td>
            <td>Processed?</td>
            <td>Transcribed?</td>
            <td>Trigger Analysis</td>
        </tr>
    </thead>

    <tbody>
        {{#each item}}
        <tr>
            <td>{{this.Key}}</td>
            <td>{{#if this.exists}} Yes {{else}} No {{/if}} </td>
            <td>{{#if this.transcribed}} Yes {{else}} No {{/if}}</td>
            <td><a href="#">Analyse</a></td>
        </tr>
        {{/each}}
    </tbody>

</table>