<h1>What would you like to search for?</h1>

<form id="search">

    <input type="text" placeholder="Enter terms, phrases and tags to search for..."/>
    <input type="submit" value="Search"/>

</form>

<div id="resultsContainer">
    <h2>Results</h2>

    <div id="resultsWrapper">
    
        <div id="frames" class="resultsList">
            <h3>Keyframes</h3>
            <ol>
                <li></li>
            </ol>
        </div>

        <div id="transcriptions" class="resultsList">
            <h3>Transcriptions</h3>
            <ol>
                <li></li>
            </ol>
        </div>
    
    </div>

</div>

<script>

    (function(){

        'use strict';

        const searchForm = document.querySelector('#search');
        const framesContainer = document.querySelector('#resultsContainer #frames');
        const transcriptContainer = document.querySelector('#resultsContainer #transcriptions');

        function generateTimestamps(time){
            return `${ time.hours < 10 ? '0' + time.hours : time.hours }:${time.minutes < 10 ? '0' + time.minutes : time.minutes}:${time.seconds < 10 ? '0' + time.seconds : time.seconds}`;
        }

        searchForm.addEventListener('submit', function(e){
            
            e.preventDefault();
            e.stopImmediatePropagation();

            console.log(this[0].value);

            fetch('/search', {
                    method : "POST",
                    headers : {
                        "Content-Type" : "application/json"
                    },
                    body : JSON.stringify( { searchTerm : this[0].value } )
                })
                .then(function(res){
                    if(res.ok){
                        return res.json();
                    } else {
                        throw res;
                    }
                })
                .then(function(response){
                    console.log(response.data);
                    const data = response.data;
                    
                    const framesList = framesContainer.querySelector('ol')
                    const transcriptList = transcriptContainer.querySelector('ol')
                    
                    framesList.innerHTML = "";
                    transcriptList.innerHTML = "";

                    Object.keys(data).forEach(key => {

                        const framesHTML = data[key].frames.map(frame => {
                            return `<li><img src="/keyframe/${frame.uuid}.jpg" /></li>`
                        }).join('');
                        
                        const transcriptHTML = `<span class="key">${data[key].transcript.length > 0 ? key : ''}</span>` + data[key].transcript.map(chunk => {
                            return `<li data-start='${JSON.stringify(chunk.start)}' data-end='${JSON.stringify(chunk.end)}'><span class="timings">${generateTimestamps(chunk.start)} --> ${generateTimestamps(chunk.end)}</span><p>${chunk.text}</p></li>`
                        }).join('');

                        framesList.innerHTML += framesHTML;
                        transcriptList.innerHTML += transcriptHTML;
                        

                    });

                })
                .catch(function(err){
                    console.log('Search err:', err);
                })

        }, false);

    }());

</script>