<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>

        <nav>
            <div>
                <span>Friendly Media Analyser</span>
                <a href="https://developer.ibm.com/code/community/cities/london/">IBM Code London</a>
            </div>

            <div id="link">
            
                <div id="searchLink">
                    <a href="/">Search</a>
                </div>

                <div id="analyseLink">
                    <a href="/analyse">Analyse</a>
                </div>
            
            </div>

        </nav>
        <main>
            {{{body}}}
        </main>

    </body>
</html>
