<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>

        <nav>
            <div>
                <span>Friendly Media Analyser</span>
                <a href="https://code.london">IBM Code London</a>
            </div>

            <div id="analyseLink">
                <a href="/analyse">Analyse</a>
            </div>

        </nav>
        <main>
            {{{body}}}
        </main>

    </body>
</html>
