*[data-active="false"]{
    display: none !important;
}

html,body{
    background-color: #f5f5f5;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 14px "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

nav{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: #333;
    color: white;
    font-size: 12px;
    padding: 1em;
    box-sizing: border-box;
    z-index: 2147483647;
}

nav div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav div span{
    font-weight: 600;
}

nav div a{
    color: white;
}

main{
    margin-top: 60px;
    padding: 1em;
    width: 100%;
    display: flex;
    max-width: 1280px;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

main table{
    border-spacing: 0;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    width: 100%;
}

main table thead{
    background: #37495f;
    color: white;
}

main table td{
    padding: 1em;
    border-bottom: 1px solid #e6e6e6;
}

main table tbody tr td:first-child{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

main table tr td:not( :nth-child(1) ){
    text-align: right;
}

main table tbody tr td[href]{
    cursor: pointer;
}

main form{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
}

main form input[type="text"]{
    font-size: 1em;
    padding: 1em;
    border: 1px solid transparent;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 1em;
}

main form input[type="submit"]{
    width: 200px;
    padding: 1em;
    display: block;
    border: 0 solid transparent;
    background: #7da3d3;
    color: white;
    font-size: 1em;
    box-shadow: 0 2px 3px rgba(0,0,0,0.50);
    align-self: center;
    cursor: pointer;
}

main #resultsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

main #resultsContainer h2{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}

main #resultsContainer #resultsWrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

main #resultsContainer #resultsWrapper .resultsList{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main #resultsContainer #resultsWrapper .resultsList ol{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main #resultsContainer ol li img{
    width: 200px;
}