html,body{
    background-color: #f5f5f5;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 14px "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

nav{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: #8bb6eb;
    color: white;
    font-size: 12px;
    padding: 1em;
    box-sizing: border-box;
}

nav div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav div span{
    font-weight: 600;
}

nav div a{
    color: white;
}

main{
    margin-top: 60px;
    padding: 1em;
    width: 100%;
    display: flex;
    max-width: 1280px;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

main table{
    border-spacing: 0;
    background-color: white;
}

main table thead{
    background: #37495f;
    color: white;
}

main table td{
    padding: 1em;
    border-bottom: 1px solid #e6e6e6;
}

main table tbody tr td:first-child{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

main table tbody tr td:not( :nth-child(1) ){
    text-align: right;
}

main table tbody tr td[href]{
    cursor: pointer;
}